<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.csh.mms.dao.PermissionDao">
    <select id="getPermissionList" resultType="com.csh.mms.dto.PermissionDto" parameterType="java.lang.String" >
        select * from sys_permission sp where 1=1
        <if test="id != null and id != ''">and sp.id=#{id}</if>
        <if test="permissionName != null and permissionName != ''">and sp.permission_name like concat('%',#{permissionName},'%')}</if>
        <if test="remark != null and remark != ''">and sp.remark like concat('%',#{remark},'%')}</if>
	</select>
	<insert id="insertPermission" parameterType="java.util.HashMap" useGeneratedKeys="true" keyProperty="id">
		insert into sys_permission
			(id, permission_name, remark) values (#{id}, #{permissionName}, #{remark})
	</insert>
	<update id="updatePermission"  parameterType="java.lang.String" >
		update sys_permission
			<trim prefix="set" suffixOverrides=",">
				<if test="permissionName !=null">permission_name=#{permissionName},</if>
				<if test="remark !=null">remark=#{remark},</if>
			</trim>
		where id =#{id}
	</update>
	<delete id="deletePermission"  parameterType="map" >
		delete from sys_permission where id = #{id}
	</delete>
</mapper>